<div>
  Job size is: <%= @jobs.size %>
</div>

<div class='row'>
  <div class='col-md-6'>
    <%= render partial: 'count_by_app', locals: { jobs: @pct_jobs } %>
  </div>
</div>

<div class='row'>
  <%- @active_jobs.each do |data| -%>
  <div class='col-md-6'>
    <%= render partial: 'system_status', locals: { cluster: data['cluster'], jobs: data['jobs'] } %>
  </div>
  <%- end -%>
</div>
