
<div class='row my-2'>
  <%- @clusters_with_info.each do |cluster| -%>
  <div class='col-md-6 col-xs-12 p-2'>
    <%= turbo_stream_from "cluster_status_#{cluster['cluster_name']}" %>
    <div id="cluster_status_<%= cluster['cluster_name'] %>">
      <%= render partial: 'system_status', locals: {cluster_name: cluster['cluster_name'], cluster_info: cluster['info']} %>
    </div>
  </div>
  <%- end -%>
</div>



<div class='row pb-3 justify-content-center'>
  <div class='col-md-8'>
    <h5 class="pt-1">Jobs per app:</h5>
    <%= render partial: 'count_by_app', locals: { jobs: @pct_jobs, total_job_count: @jobs.size } %>
  </div>
</div>
