<h1>App Inspector</h1>
<select name="app-inspector-selector" id="app-inspector-selector">
  <% @app_names.each do |app_name| %>
    <option value="<%= app_name %>"><%= app_name %></option>
  <%end %>
</select>
<div id="app-inspector-semi-outer">
  <p id="y-label">Frequency</p>
  <div id="app-inspector-inner">
    <div id="app-inspector-bar-1" class="app-inspector-bar"></div>
  </div>
</div>
<p id="x-label">Cores per job</p>
<input id="app-inspector-bins-slider" type="range" min="1" max="20" value="5">

<script>
  let app_inspector_data = <%= @app_inspector_data.to_json.html_safe %>
  const innerBox = document.getElementById("app-inspector-inner");
  const binsSlider = document.getElementById("app-inspector-bins-slider");
  const appSelect = document.getElementById("app-inspector-selector");
  const maxGapWidth = 10; // pixels

  apps = Object.keys(app_inspector_data);
  if (apps.includes('ondemand/sys/dashboard/sys/bc_osc_jupyter'))
    appSelect.value = 'ondemand/sys/dashboard/sys/bc_osc_jupyter';

  function populateGraph() {
    innerBox.innerHTML = "";
    let binCount = binsSlider.value;
    let barWidth = (innerBox.offsetWidth / binCount) - maxGapWidth;
    let app_name = appSelect.value;
    let keys = Object.keys(app_inspector_data[app_name]);
    let max = Math.max(...keys);
    let binSize = Math.ceil(max / binCount);
    // Generate an array representing the bins containing the frequency
    let binData = []
    for (let i=0; i<binCount; i++) {
      let binValue = 0;
      keys.forEach((key) => {
        if (key >= i*binSize && key < (i+1)*binSize) 
          binValue += app_inspector_data[app_name][key];
      })
      binData.push(binValue);
    }
    let pixels_per_count = 200/Math.max(...binData);
    // Render the graph with data from bins
    for (let i=0; i< binsSlider.value; i++) {
      let newBar = document.createElement("div");
      newBar.classList.add("app-inspector-bar");
      let height = pixels_per_count * binData[i];
      let barY = document.createElement("p");
      barY.textContent = binData[i];
      barY.classList.add("app-inspector-bar-y");
      newBar.append(barY);
      let barX = document.createElement("p")
      barX.textContent = i*binSize + '-' + ((i+1)*binSize-1);
      barX.classList.add("app-inspector-bar-x");
      newBar.append(barX);
      newBar.style.width = barWidth + "px";
      newBar.style.margin = maxGapWidth/2 + "px";
      newBar.style.height = height + "px";
      innerBox.append(newBar);
    }
  }
  populateGraph();

  binsSlider.addEventListener("change", populateGraph);
  appSelect.addEventListener("change", populateGraph);
</script>