<style>
  p {
    margin: 0;
  }
  #app-inspector-semi-outer {
    margin-top: 10px;
    display: flex;
  }
  #y-label {
    height: 18pt;
    position: absolute;
    margin-left: -50px;
    margin-top: 60px;
    transform: rotate(-90deg);
    transform-origin: 100% 100%
  }
  #x-label {
    margin-top: 2em;
    text-align: center;
  }
  #app-inspector-inner {
    margin-left: 2em;
    margin-right: 2em;
    width: 100%;
    border: 1px solid black;
    display: flex;
    height: 300px;
  }
  .app-inspector-bar {
    background-color: red;
    text-align: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app-inspector-bar-y {
    margin-top: -1.5em;
  }
  .app-inspector-bar-x {
    margin-bottom: -2em;
  }
</style>

<h1>App Inspector</h1>
<select name="app-inspector-selector" id="app-inspector-selector">
  <option value="ondemand/sys/dashboard/sys/bc_osc_jupyter">ondemand/sys/dashboard/sys/bc_osc_jupyter</option>
</select>
<div id="app-inspector-semi-outer">
  <p id="y-label">Frequency</p>
  <div id="app-inspector-inner">
    <div id="app-inspector-bar-1" class="app-inspector-bar"></div>
  </div>
</div>
<p id="x-label">Cores per job</p>
<input id="app-inspector-bins-slider" type="range" min="1" max="20" value="5">

<script>
  let app_inspector_data = <%= @app_inspector_data.to_json.html_safe %>
  const innerBox = document.getElementById("app-inspector-inner");
  const binsSlider = document.getElementById("app-inspector-bins-slider");
  const appSelect = document.getElementById("app-inspector-selector");
  appSelect.innerHTML = "";
  apps = Object.keys(app_inspector_data);
  apps.forEach((appName) => {
    let opt = document.createElement('option');
    opt.value = appName;
    opt.innerHTML = appName;
    appSelect.appendChild(opt);
  })
  if (apps.includes('ondemand/sys/dashboard/sys/bc_osc_jupyter'))
    appSelect.value = 'ondemand/sys/dashboard/sys/bc_osc_jupyter';
  const maxGapWidth = 10; // pixels
  function populateGraph() {
    innerBox.innerHTML = "";
    let binCount = binsSlider.value;
    let barWidth = (innerBox.offsetWidth / binCount) - maxGapWidth;
    let app_name = appSelect.value;
    let keys = Object.keys(app_inspector_data[app_name]);
    let max = Math.max(...keys);
    let binSize = Math.ceil(max / binCount);
    // Generate an array representing the bins containing the frequency
    let binData = []
    for (let i=0; i<binCount; i++) {
      let binValue = 0;
      keys.forEach((key) => {
        if (key >= i*binSize && key < (i+1)*binSize) 
          binValue += app_inspector_data[app_name][key];
      })
      binData.push(binValue);
    }
    let pixels_per_count = 200/Math.max(...binData);
    // Render the graph with data from bins
    for (let i=0; i< binsSlider.value; i++) {
      let newBar = document.createElement("div");
      newBar.classList.add("app-inspector-bar");
      let height = pixels_per_count * binData[i];
      let barY = document.createElement("p");
      barY.textContent = binData[i];
      barY.classList.add("app-inspector-bar-y");
      newBar.append(barY);
      let barX = document.createElement("p")
      barX.textContent = i*binSize + '-' + ((i+1)*binSize-1);
      barX.classList.add("app-inspector-bar-x");
      newBar.append(barX);
      newBar.style.width = barWidth + "px";
      newBar.style.margin = maxGapWidth/2 + "px";
      newBar.style.height = height + "px";
      innerBox.append(newBar);
    }
  }
  populateGraph();

  binsSlider.addEventListener("change", populateGraph);
  appSelect.addEventListener("change", populateGraph);
</script>