p {
  margin: 0;
}

#app_inspector_histogram {
  margin-top: 10px;
  display: flex;
}

#y_label {
  height: 18pt;
  position: absolute;
  margin-left: -80px;
  margin-top: 130px;
  transform: rotate(-90deg);
  transform-origin: 100% 100%
}

#x_label {
  margin-top: 2em;
  text-align: center;
}

#histogram_inner {
  margin-left: 2em;
  margin-right: 2em;
  width: 100%;
  border: 1px solid black;
  height: 400px;
  display: grid;
  align-items: end;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  column-gap: 5px;
  padding: 0px 5px;
  padding-top: 1.5em;
}

.histogram-bar {
  width: 100%;
  height: 200px;
  background-color: blue;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.histogram-bar-y {
  margin-top: -1.5em;
}

.histogram-bar-x {
  margin-bottom: -2em;
}